%h1 Listing events

%table
  %tr
    %th Name
    %th Starts at
    %th Ends at
    %th Venue
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.starts_at
      %td= event.ends_at
      %td= event.venue
      %td= link_to 'Show', admin_event_path(event)
      %td= link_to 'Edit', edit_admin_event_path(event)
      %td= link_to 'Destroy', admin_event_path(event), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Event', new_admin_event_path
