%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Starts at:
  = @event.starts_at
%p
  %b Ends at:
  = @event.ends_at
%p
  %b Venue:
  = @event.venue
%p
  %b Description:
  = @event.description

= link_to 'Edit', edit_admin_event_path(@event)
\|
= link_to 'Back', admin_events_path
