!!!
%html
  %head
    %title Headstart
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application", "//use.typekit.net/lty6atq.js"
    = csrf_meta_tags

    :javascript
      try{Typekit.load();}catch(e){}

  %body
    #top-bar
      %h1.logo= image_tag "logo2.png", :width => 50
      %ul.nav.main-nav
        %li Events
        %li Workshops
        %li Discussions
      %ul.nav.user-nav
        - if current_user
          %li= "Logged in as #{current_user.email}"
          %li= link_to "logout", :logout
        - else
          %li= link_to "register", :register
          %li= link_to "log in", :login

    .gw= yield(:content)
