!!!
%html
  %head
    %title Headstart
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %ul
      - if current_user
        %li= link_to current_user.first_name, current_user
        %li= link_to "edit", edit_user_path(current_user)
        %li= link_to "logout", :logout
      - else
        %li= link_to image_tag('http://img2.meetupstatic.com/906521611995523788/img/header/logo.png'), '/auth/meetup'
        %li= link_to "log in", :login
        %li= link_to "register", :register
    %p#notice= notice
    = yield
