!!!
%html
  %head
    %title Headstart
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application", "//use.typekit.net/lty6atq.js", "http://192.168.0.1:35729/livereload.js?snipver=1"
    = csrf_meta_tags
    = bugherd_tag
    = render :partial => 'shared/headstart'

  %body
    .main-wrap
      .content-wrap
        %header
          %h1.logo= link_to (image_tag "logo2.png", :width => 50), :root
          %ul.nav.main-nav
            %li= link_to 'Events', root_path
            %li= link_to 'Headcases', users_path
          %ul
            - if current_user
              %li= link_to current_user.first_name, current_user
              %li= link_to "edit", edit_user_path(current_user)
              %li= link_to "logout", :logout
            - else
              %li= link_to image_tag('http://img2.meetupstatic.com/906521611995523788/img/header/logo.png'), '/auth/meetup'
              %li= link_to "log in", :login
              %li= link_to "register", :register

        %p#notice= notice
        .gw= yield(:content)

      %footer
        .content-wrap
          dsaadssad
